@import url('https://fonts.googleapis.com/css?family=Goblin+One');

body {
    font-family: 'Goblin', sans-serif;
}

h1, h2 {
    font-family: 'Goblin';
    font-size: '16px';
}

.profile {
    background-color: indigo;
    color: red;
    float: left;
    margin-right: 20px;
    height: 200px;
}

button {
    border: 1px solid indigo;
    height: 30px;
    width: 100px;
    font-size: 1.2em;
}